<div class="card" style="margin:1rem">
  <div style="padding: 0.5rem;">
    <h3>Lista Usuario</h3>
  </div>
  <div class="card-body">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">#Cedula</th>
          <th scope="col">Nombre Completo</th>
          <th scope="col">Correo</th>
          <th scope="col">Telefono</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let usuario of   usur_servicio.lista_usuarios">
          <th scope="row">{{usuario.cedula}}</th>
          <td>{{usuario.nombres}} {{usuario.apellidos}}</td>
          <td>{{usuario.email}}</td>
          <td>{{usuario.telefono}}</td>
          <td>
            <button type="button" (click)="Editar_usuario(usuario)"  class="btn btn-dark">Editar</button>
          </td>
        </tr>
       
      </tbody>
    </table>
  
  </div>
</div>
